#N
A_DATA\[31\]
A_DATA\[30\]
A_DATA\[29\]
A_DATA\[28\]
A_DATA\[27\]
A_DATA\[26\]
A_DATA\[25\]
A_DATA\[24\]
A_DATA\[23\]
A_DATA\[22\]
A_DATA\[21\]
A_DATA\[20\]
A_DATA\[19\]
A_DATA\[18\]
A_DATA\[17\]
A_DATA\[16\]
A_DATA\[15\]
A_DATA\[14\]
A_DATA\[13\]
A_DATA\[12\]
A_DATA\[11\]
A_DATA\[10\]
A_DATA\[9\]
A_DATA\[8\]
A_DATA\[7\]
A_DATA\[6\]
A_DATA\[5\]
A_DATA\[4\]
A_DATA\[3\]
A_DATA\[2\]
A_DATA\[1\]
A_DATA\[0\]
W_DATA\[31\]
W_DATA\[30\]
W_DATA\[29\]
W_DATA\[28\]
W_DATA\[27\]
W_DATA\[26\]
W_DATA\[25\]
W_DATA\[24\]
W_DATA\[23\]
W_DATA\[22\]
W_DATA\[21\]
W_DATA\[20\]
W_DATA\[19\]
W_DATA\[18\]
W_DATA\[17\]
W_DATA\[16\]
W_DATA\[15\]
W_DATA\[14\]
W_DATA\[13\]
W_DATA\[12\]
W_DATA\[11\]
W_DATA\[10\]
W_DATA\[9\]
W_DATA\[8\]
W_DATA\[7\]
W_DATA\[6\]
W_DATA\[5\]
W_DATA\[4\]
W_DATA\[3\]
W_DATA\[2\]
W_DATA\[1\]
W_DATA\[0\]
#E
BIAS\[15\]
BIAS\[14\]
BIAS\[13\]
BIAS\[12\]
BIAS\[11\]
BIAS\[10\]
BIAS\[9\]
BIAS\[8\]
BIAS\[7\]
BIAS\[6\]
BIAS\[5\]
BIAS\[4\]
BIAS\[3\]
BIAS\[2\]
BIAS\[1\]
BIAS\[0\]
SCALE\[15\]
SCALE\[14\]
SCALE\[13\]
SCALE\[12\]
SCALE\[11\]
SCALE\[10\]
SCALE\[9\]
SCALE\[8\]
SCALE\[7\]
SCALE\[6\]
SCALE\[5\]
SCALE\[4\]
SCALE\[3\]
SCALE\[2\]
SCALE\[1\]
SCALE\[0\]
#W
clk
rst_n
TILE_START
TILE_LAST
BIAS_NEW
RELU_EN
A_LEN\[3\]
A_LEN\[2\]
A_LEN\[1\]
A_LEN\[0\]
W_LEN\[3\]
W_LEN\[2\]
W_LEN\[1\]
W_LEN\[0\]
K_LEN\[3\]
K_LEN\[2\]
K_LEN\[1\]
K_LEN\[0\]
METADATA_VLD
METADATA_RDY
DATA_VLD
DATA_RDY
BIAS_VLD
BIAS_RDY
SCALE_VLD
SCALE_RDY
TILE_DONE
#S
Y_RDY
Y_VLD\[7\]
Y_VLD\[6\]
Y_VLD\[5\]
Y_VLD\[4\]
Y_VLD\[3\]
Y_VLD\[2\]
Y_VLD\[1\]
Y_VLD\[0\]
Y_OUT\[31\]
Y_OUT\[30\]
Y_OUT\[29\]
Y_OUT\[28\]
Y_OUT\[27\]
Y_OUT\[26\]
Y_OUT\[25\]
Y_OUT\[24\]
Y_OUT\[23\]
Y_OUT\[22\]
Y_OUT\[21\]
Y_OUT\[20\]
Y_OUT\[19\]
Y_OUT\[18\]
Y_OUT\[17\]
Y_OUT\[16\]
Y_OUT\[15\]
Y_OUT\[14\]
Y_OUT\[13\]
Y_OUT\[12\]
Y_OUT\[11\]
Y_OUT\[10\]
Y_OUT\[9\]
Y_OUT\[8\]
Y_OUT\[7\]
Y_OUT\[6\]
Y_OUT\[5\]
Y_OUT\[4\]
Y_OUT\[3\]
Y_OUT\[2\]
Y_OUT\[1\]
Y_OUT\[0\]
