#N
col_out\[127\]
col_out\[126\]
col_out\[125\]
col_out\[124\]
col_out\[123\]
col_out\[122\]
col_out\[121\]
col_out\[120\]
col_out\[119\]
col_out\[118\]
col_out\[117\]
col_out\[116\]
col_out\[115\]
col_out\[114\]
col_out\[113\]
col_out\[112\]
col_out\[111\]
col_out\[110\]
col_out\[109\]
col_out\[108\]
col_out\[107\]
col_out\[106\]
col_out\[105\]
col_out\[104\]
col_out\[103\]
col_out\[102\]
col_out\[101\]
col_out\[100\]
col_out\[99\]
col_out\[98\]
col_out\[97\]
col_out\[96\]
col_out\[95\]
col_out\[94\]
col_out\[93\]
col_out\[92\]
col_out\[91\]
col_out\[90\]
col_out\[89\]
col_out\[88\]
col_out\[87\]
col_out\[86\]
col_out\[85\]
col_out\[84\]
col_out\[83\]
col_out\[82\]
col_out\[81\]
col_out\[80\]
col_out\[79\]
col_out\[78\]
col_out\[77\]
col_out\[76\]
col_out\[75\]
col_out\[74\]
col_out\[73\]
col_out\[72\]
col_out\[71\]
col_out\[70\]
col_out\[69\]
col_out\[68\]
col_out\[67\]
col_out\[66\]
col_out\[65\]
col_out\[64\]
col_out\[63\]
col_out\[62\]
col_out\[61\]
col_out\[60\]
col_out\[59\]
col_out\[58\]
col_out\[57\]
col_out\[56\]
col_out\[55\]
col_out\[54\]
col_out\[53\]
col_out\[52\]
col_out\[51\]
col_out\[50\]
col_out\[49\]
col_out\[48\]
col_out\[47\]
col_out\[46\]
col_out\[45\]
col_out\[44\]
col_out\[43\]
col_out\[42\]
col_out\[41\]
col_out\[40\]
col_out\[39\]
col_out\[38\]
col_out\[37\]
col_out\[36\]
col_out\[35\]
col_out\[34\]
col_out\[33\]
col_out\[32\]
col_out\[31\]
col_out\[30\]
col_out\[29\]
col_out\[28\]
col_out\[27\]
col_out\[26\]
col_out\[25\]
col_out\[24\]
col_out\[23\]
col_out\[22\]
col_out\[21\]
col_out\[20\]
col_out\[19\]
col_out\[18\]
col_out\[17\]
col_out\[16\]
col_out\[15\]
col_out\[14\]
col_out\[13\]
col_out\[12\]
col_out\[11\]
col_out\[10\]
col_out\[9\]
col_out\[8\]
col_out\[7\]
col_out\[6\]
col_out\[5\]
col_out\[4\]
col_out\[3\]
col_out\[2\]
col_out\[1\]
col_out\[0\]
#S
y_out\[31\]
y_out\[30\]
y_out\[29\]
y_out\[28\]
y_out\[27\]
y_out\[26\]
y_out\[25\]
y_out\[24\]
y_out\[23\]
y_out\[22\]
y_out\[21\]
y_out\[20\]
y_out\[19\]
y_out\[18\]
y_out\[17\]
y_out\[16\]
y_out\[15\]
y_out\[14\]
y_out\[13\]
y_out\[12\]
y_out\[11\]
y_out\[10\]
y_out\[9\]
y_out\[8\]
y_out\[7\]
y_out\[6\]
y_out\[5\]
y_out\[4\]
y_out\[3\]
y_out\[2\]
y_out\[1\]
y_out\[0\]
#E
scale\[15\]
scale\[14\]
scale\[13\]
scale\[12\]
scale\[11\]
scale\[10\]
scale\[9\]
scale\[8\]
scale\[7\]
scale\[6\]
scale\[5\]
scale\[4\]
scale\[3\]
scale\[2\]
scale\[1\]
scale\[0\]
#W
clk
relu_en
quant_en\[7\]
quant_en\[6\]
quant_en\[5\]
quant_en\[4\]
quant_en\[3\]
quant_en\[2\]
quant_en\[1\]
quant_en\[0\]
