#N
w_in\[3\]
w_in\[2\]
w_in\[1\]
w_in\[0\]
v_en_in
bias\[15\]
bias\[14\]
bias\[13\]
bias\[12\]
bias\[11\]
bias\[10\]
bias\[9\]
bias\[8\]
bias\[7\]
bias\[6\]
bias\[5\]
bias\[4\]
bias\[3\]
bias\[2\]
bias\[1\]
bias\[0\]

#S
w_out\[3\]
w_out\[2\]
w_out\[1\]
w_out\[0\]
v_en_out
acc_out\[15\]
acc_out\[14\]
acc_out\[13\]
acc_out\[12\]
acc_out\[11\]
acc_out\[10\]
acc_out\[9\]
acc_out\[8\]
acc_out\[7\]
acc_out\[6\]
acc_out\[5\]
acc_out\[4\]
acc_out\[3\]
acc_out\[2\]
acc_out\[1\]
acc_out\[0\]

#W
a_in\[3\]
a_in\[2\]
a_in\[1\]
a_in\[0\]
h_en_in
clk
ld_bias

#E
a_out\[3\]
a_out\[2\]
a_out\[1\]
a_out\[0\]
h_en_out
